body {
    margin: auto;
    max-width: 60em;
    font-family: "lato", sans-serif;
    background-color: #090e1a;
    border-radius: .5em;
    color: aliceblue;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
}

div {
    padding-top: 0em;
}

.form-styled {
    box-sizing: border-box;
    padding: 2rem;
    border-radius: 1rem;
    background-color: hsl(237, 50%, 21%);
    border: 4px solid hsl(0, 0%, 90%);
}

h1 {
    color: rgb(153, 173, 201);
}

a:link {
    color: #8ebaec;
}

a:visited {
    color: #8ebaec;
}

.header {
    background: rgb(68, 84, 118);
    padding: 1em;
    font-size: 1.3em;
    border-radius: .5em;
    text-align: center;
}

.topnav {
    background-color: rgb(31, 51, 70);
    overflow: hidden;
    color: aliceblue;
}
  
.topnav a {
    float: left;
    color: #8ebaec;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
}

.topnav a:hover {
    background-color: rgb(43, 56, 102);
    color: #8ebaec;
}

table {
    border-collapse: collapse;
    font-size: 1em;
}

th,
td {
  border: 1px solid rgb(30, 71, 80);
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 2em;
  padding-right: 2em;
}

