body {
    margin: auto;
    max-width: 60em;
    font-family: "lato", sans-serif;
    background-color: #0a1122;
    border-radius: .5em;
    color: aliceblue;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
}

div {
    padding-top: 0em;
}

.form-styled {
    box-sizing: border-box;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 2em;
    padding-right: 2em;    border-radius: 1rem;
    background-color: hsl(221, 44%, 18%);
}

h1 {
    color: rgb(204, 219, 242);
}

a:link {
    color: #9fc6f2;
}

a:visited {
    color: #9fc6f2;
}

.header {
    background: rgb(90, 121, 208);
    padding: 0.5em;
    font-size: 1.3em;
    border-radius: 1em;
    text-align: center;
}

.topnav {
    background-color: rgb(68, 116, 179);
    overflow: hidden;
    color: rgb(237, 244, 249);
    border-radius: 1em;
    border: 4px solid hsl(233, 53%, 81%);
}
  
.topnav a {
    float: left;
    color: #d0e2f6;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: rgb(63, 112, 177);
    color: #d1e2f7;
}

table {
    border-collapse: collapse;
    font-size: 1em;
}

th {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-size: 18px;
}

td {
    border: 2px solid rgb(197, 214, 237);
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    background-color: rgb(26, 31, 54);
}