{% extends "layout.html" %}
{% block content %}

{% if item %}

{% for i in item %}

<h1>{{ i.header }}</h1>
<p><i><b>Kuvaus</b></i>: {{ i.content }}
<p><i><b>Hinta</b></i>: {{ i.price }} €
<p><i><b>Sijainti</b></i>: {{ i.location }}
<p><i><b>Ilmoituksen jättäjä</b></i>: 
    {% for username in username %}
    {{ username[0] }}
    {% endfor %}
<p><i><b>Lisätty</b></i>: {{ i.sent_at.strftime("%d.%m.%Y %H:%M") }}

{% if photo %}
<form action="/image" method="POST">
<a href="/image/{{ i.id }}">Näytä kuva</a>
</form>
{% endif %}

{% if session.user_id %}
<p><a href="/add_favourite/{{ i.id }}">Lisää ilmoitus suosikkeihin</a>
{% endif%}
<br>
<br>
<h3>Kommentit:</h3>
{% if comments %}
{% for comment in comments %}
<p>{{ comment.content }}<br>
    <i>Lähettäjä: {{ comment.username }} {{ comment.sent_at.strftime("%d.%m.%Y %H:%M") }}</i>
{% endfor %}

{% else %}
<p>Ei vielä kommentteja
{% endif %}

{% if session.user_id %}
<form class="form-styled" action="/add_comment" method="POST">
    <p>Jätä kommentti:<br>
    <textarea name="comment" rows="2" cols="60" minlength="3" maxlength="200" required></textarea><br>
    <small>3...200 merkkiä</small><bR>
    <input type="submit" value="Lähetä">
    <input type="hidden" name="item_id" value="{{ i.id }}">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
{% endif%}


{% endfor %}


{% else %}
<p>Tuotetta ei löytynyt

{% endif %}

{% endblock %}
