<a href="/">Etusivulle</a>

<h1>Tuotteet</h1>
{% if items %}
<table style="width: 50%">
    <thead style="text-align:left">
        <tr>
            <th>Tuote</th>
            <th>Hinta</th>
            <th>Sijainti</th>
            <th>Ilmoitus jätetty</th>
        </tr>
    </thead>
    {% for item in items %}
    <tbody>
        <tr>
            <td>{{item.header}}</td>
            <td>{{item.price}} €</td>
            <td>{{item.location}}</td>
            <td>{{item.sent_at}}</td>
        </tr>
    </tbody>
    {% endfor %}
    {% else %}
    <h3>Ei tuotteita</h3>
    {% endif %}
</table>

<a href="/new">Lisää tuote</a>
