<title>Kauppapaikka</title>
{% extends "layout.html" %}


{% block content %}

{% if session.user_id %}

<div class="topnav">
    <a href="/">Etusivu</a>
    <a href="/items">Selaa ilmoituksia</a>
    <a href="/new">Lisää ilmoitus</a>
    <a href="/logout">Kirjaudu ulos</a>   
</div>

{% else %}
<div class="topnav">
    <a href="/">Etusivu</a>
    <a href="/items">Selaa ilmoituksia</a>
    <a href="/login">Kirjaudu</a>   
</div>

Kirjaudu sisään lisätäksesi ilmoituksia

{% endif %}

<h1>Tuotteet</h1>
{% if items %}
<table>
    <thead style="text-align:left">
        <tr>
            <th>Tuote</th>
            <th>Hinta</th>
            <th>Sijainti</th>
            <th>Ilmoitus jätetty</th>
        </tr>
    </thead>
    {% for item in items %}
    <tbody>
        <tr>
            <td>{{item.header}}</td>
            <td>{{item.price}} €</td>
            <td>{{item.location}}</td>
            <td>{{item.sent_at}}</td>
        </tr>
    </tbody>
    {% endfor %}
</table>

{% else %}

<h3>Ei tuotteita</h3>

{% endif %}



{% endblock %}
