{% extends 'layout.html' %}
{% block content %}

{% if session.user_id %}
<form class='form-styled' action='/new' method='POST' enctype="multipart/form-data">
Otsikko: <br>
<input type='text' name='header' size='50'>
<p>
Ilmoituksen tyyppi:<br>
<input type='radio' name='type' value='Myydään'>Myydään
<input type='radio' name='type' value='Ostetaan'>Ostetaan
<input type='radio' name='type' value='Annetaan'>Annetaan
<p>
Kuvaus: <br>
<textarea name='content' rows='6' cols='70'></textarea>
<p>
Hinta €: <br>
<input type='number' name='price' size='5'>
<p>
Sijainti: <br>
<input type='text' name='location' size='50'>
<p>
Kuva:<br>
<input type='file' name='photo'>
<p>
<input type='submit' value='Lisää tuote'>
</form>

{% else %}

{% endif %}

{% endblock %}