{% extends "layout.html" %}
{% block content %}

{% if session.user_id %}
<h1>Omat ilmoitukset</h1>
{% if items %}
<form action="/delete_item" method="POST">
<table>
    <thead style="text-align:left">
        <tr>
            <th>Tuote</th>
            <th>Tyyppi</th>
            <th>Hinta</th>
            <th>Sijainti</th>
            <th>Ilmoitus jätetty</th>
        </tr>
    </thead>
    {% for item in items %}
    <tbody>
        <tr>
            <td><a href="/item/{{ item.id }}">{{ item.header }}</a></td>
            <td>{{ item.type }}</td>
            <td>{{ item.price }} €</td>
            <td>{{ item.location }}</td>
            <td>{{ item.sent_at.strftime("%d.%m.%Y %H:%M") }}</td>
            <td><button name="id" type="submit" value={{ item.id }}>Poista</button></td>
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </tr>
    </tbody>
    {% endfor %}
</table>
</form>
{% else %}
<p>Ei omia ilmoituksia
{% endif %}

{% else %}

{% endif %}

{% endblock %}